<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link href="styles/style.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/layout :: layout(menuBlock='books',contentValue=~{ :: #comment-edit-layout-id})">
        <div class="edit-form">
            <form id="comment-edit-layout-id" action="" method="POST" th:action="@{/comment-save}" th:object="${comment}">
                <input name="id" type="hidden" value="" th:value="*{id}"/>
                <input name="bookId" type="hidden" value="" th:value="*{bookId}"/>
                <textarea id="comment-edit-text-id" name="text" rows="4" cols="150" th:field="*{text}" value=""
                          placeholder="текст комментария" th:value="*{text}"/>
                <span th:each="err : ${#fields.errors('text')}" th:text="${err}" class="field-error" />
                <input name="bookId" type="hidden" value="" th:value="*{bookId}"/>
                <span th:each="err : ${#fields.errors('bookId')}" th:text="${err}" class="field-error" />
                <br/>
                <button type="submit" name="action" value="save">Сохранить</button>
                <button type="submit" name="action" value="cancel">Отмена</button>
            </form>
        </div>
    </div>
</body>
</html>