html, body {
    height: 100%;
    margin: 0;
    background-color: lightgray;
    font-family: cursive, sans-serif;!important;
    font-size: large;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
}

.page-block {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content-block {
    flex: 1 1 auto;
}