<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link href="styles/style.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/layout :: layout(menuBlock='books',contentValue=~{ :: #book-list})">
        <div id="book-list">
            <div class="list-block-item-control-block">
                <a class="link-action" href="" th:href="@{/book-edit(bookId=0)}">Добавить книгу</a>
            </div>
            <div class="list-block" th:each="book : ${books}">
                <div class="list-block-item">
                    <div class="list-block-item-content">
                        <a class="link-content" href="" th:href="@{/book-edit(bookId=${book.id})}">
                            <div class="list-block-item-line">
                                <div class="list-block-item-line-title">Название:</div><div class="list-block-item-line-value" th:text="${book.title}"></div>
                            </div>
                            <div class="list-block-item-line">
                                <div class="list-block-item-line-title">Автор:</div><div th:text="${book.authorName}"></div>
                            </div>
                            <div class="list-block-item-line">
                                <div class="list-block-item-line-title">Жанр:</div><div class="list-block-item-line-value" th:text="${book.genreName}"></div>
                            </div>
                        </a>
                    </div>
                    <div class="list-block-item-control-block">
                        <a class="list-block-item-control-block-first link-action" href="" th:href="@{/comment-list(bookId=${book.id})}">комментарии</a>
                        <a class="list-block-item-control-second link-action" href="" th:href="@{/book-delete(bookId=${book.id})}">удалить книгу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>