<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link href="styles/style.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/layout :: layout(menuBlock='books',contentValue=~{ :: #comment-list-layout-id})">
        <div id="comment-list-layout-id">
            <div class="list-block-item-control-block">
                <a class="link-action" href=""
                   th:href="@{/comment-edit(commentId=0,action='edit',bookId=${bookId})}">Добавить комменатрий</a>
                <a class="link-action list-block-item-control-second" href=""
                   th:href="@{/comment-edit(commentId=0,action='step-back',bookId=${bookId})}">Вернуться</a>
            </div>
            <div class="list-block" th:each="comment : ${comments}">
                <div class="list-block-item">
                    <div class="list-block-item-content">
                        <a class="link-content" href="" th:href="@{/comment-edit(commentId=${comment.id},bookId=${bookId})}">
                            <pre th:text="${comment.text}"></pre>
                        </a>
                    </div>
                    <div class="list-block-item-control-block">
                        <a class="link-action" href=""
                           th:href="@{/comment-delete(commentId=${comment.id},bookId=${bookId})}">удалить комментарий</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>