<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>
<div th:fragment="layout(contextObject,contentValue)" class="page-block">
    <div th:replace="fragments/menu :: menu(contextObject='')"/>
    <div class="content-block">
        <div th:if="${contentValue != null}">
            <div th:fragment="content(contentValue)" th:insert="${contentValue}"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer(contextObject='books')" class="footer-block" />
</div>
</body>
</html>