<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>
    <div class="menu-bar" th:fragment="menu(menuBlock)">
        <ul>
            <li class="menu-item" th:classappend="${menuBlock == 'home'}? 'menu-item-active'"><a href="" th:href="home">Домой</a></li>
            <li class="menu-item" th:classappend="${menuBlock == 'books'} ? 'menu-item-active'"><a href="" th:href="book-list">Книги</a></li>
            <li class="menu-item" th:classappend="${menuBlock == 'authors'} ? 'menu-item-active'"><a href="" th:href="author-list">Авторы</a></li>
            <li class="menu-item" th:classappend="${menuBlock == 'genres'} ? 'menu-item-active'"><a href="" th:href="genre-list">Жанры</a></li>
        </ul>
    </div>
</body>
</html>