<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link href="styles/style.css" rel="stylesheet" />
</head>
<body>
    <div th:insert="fragments/layout :: layout(contextObject='authors',contentValue=~{ :: #author-list})">
        <div id="author-list">
            <div th:each="author : ${authors}">
                <div><a href="/" th:text="${author.id} + ' - ' + ${author.firstName} +' '+${author.lastName} +' '+${author.patronymicName}"></a></div>
            </div>
        </div>
    </div>
</body>
</html>