<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link href="styles/style.css" rel="stylesheet" />
</head>
<body>
    <div th:insert="fragments/layout :: layout(contextObject='books',contentValue=~{ :: #book-list})">
        <div id="book-list">
            <div th:each="book : ${books}">
                <div><a href="/" th:href="@{/book-edit(bookId=${book.id})}" th:text="${book.title}"></a>
                    <a href="/" th:href="@{/book-delete(bookId=${book.id})}">удалить</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>